@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
}


a {
    text-decoration: none;
    color: #000;
}

ul li {
    text-align: center;
}


ul li a {
    text-decoration: none;
    color: #000;
}


.header {
    width: 100%;
    height: 80px;
    background-color: rgb(100, 188, 230);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);

}

.container {
    padding: 0px 20px 0px 20px
}

.logo {
    width: 20px;
    height: 20px;
    float: left;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}



.menu {

    float: right;
    line-height: 75px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: rgba(245, 197, 135, 0.993);
    border-bottom: 4px solid antiquewhite;

}

#btn-menu {
    display: none;
}

.boton {
    float: right;
}

.boton label {
    color: rgb(100, 188, 230);
    background: rgb(100, 188, 230);
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

/*header fin*/

main {
    padding-top: 120px;
    padding-bottom: 90px;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(160, 214, 239);

}

.imagenprincipal {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.contenedor-acordeon {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.contenedor-acordeon h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}

.acordeon {
    background: #fff;
}

.acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background: rgb(42, 44, 62);
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordeon label:hover {
    background: rgba(245, 197, 135, 0.993);
}

.acordeon .contenido-acordeon {
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked~.contenido-acordeon {
    max-height: 600px;
    padding: 15px 0px;
}

.btn-acordeon {
    display: none;
}


.responsive {
    width: 100%;
    height: auto;
  }


/*footer inicia*/





.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #398edd, #1a5869);
    color: #fff;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #398edd, #1a5869);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }

    .heading {
        padding: 20px;
        font-size: 20px;
    }

    .card {
        width: 80%;
    }
}

footer {
    padding: 10px 0;
    background-color: rgb(100, 188, 230);
}

.social {
    text-align: center;
    color: #234;

}

.h4 {
    text-align: justify;
}

.social a {
    font-size: 24px;
    color: inherit;
    border: 2px solid #234;
    height: 40px;
    width: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}


.social a:hover {
    opacity: 0.9;
}


.faciales{
    height: auto;
    width: auto;
}

/*footer fin*/

/*codigo para dispositivos moviles*/

/*header para movil*/

@media only screen and (max-width:1050px) {
    .header {
        width: 100%;
        height: 80px;
    }

    .logo,
    .boton {
        line-height: 60px;
    }

    .logo h1 {
        font-size: 18px;
    }

    .menu {

        position: absolute;
        background: #234;
        width: 100%;
        top: 80px;
        left: 0;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        display: list-item;
        padding: 10px 15px;
        line-height: normal;
        font-size: 14px;
        transition: all 500ms ease;
        border-bottom: 4px solid transparent;
    }

    .boton label {
        color: #fff;
        background: rgb(42, 44, 62);
        padding: 5px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
    }

    #btn-menu:checked~.menu {
        transform: translateX(0%);
    }

    .container-card {
        width: 100%;
        display: flow-root;
        max-width: 400px;
        margin: auto;
    }
}


.consejos {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}




